.avatar {
    height:80px;
}

body{
    background-color: #0d1117;
}

span{
    color:#c9d1d9;
}

.textBar{
    width: 250px;
    max-width: 100%;
    background-color: #010409;
    color:#c9d1d9;

    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #30363d;
    border-radius: 6px;
    box-shadow: 0 0 transparent;
}
.textBar.paginator{
    width: 30px;
}

.searchResults {
    margin-left: 290px;
    width: 30%;
    padding: 10px;
}

.searchPane{
    position: fixed;
    margin: 8px 0 8px 8px;
}

ul {
    list-style-type: none;
    margin: 1px;
    color:#c9d1d9;
}

li{
    margin: 8px 0 8px 0;
    cursor: pointer;
    width: auto;
    background-color: #30363d;
    border: 1px solid #30363d;
    border-radius: 6px;
    box-shadow: 0 0 transparent;
    padding-left: 8px;
    max-width: 230px;
    overflow: hidden;
}


.arrow {
    border: solid #30363d;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    cursor: pointer;
    margin: 0 8px 0 8px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }